build --copt=-Wall
build --copt=-Wextra
build --copt=-Werror
build --per_file_copt=external/.*@-Wno-error
build --copt=-Wno-attributes
build --copt=-Wno-deprecated-declarations
build --copt=-Wno-unknown-pragmas
build --copt=-Wno-unused-label
build --copt=-Wno-unused-parameter
build --copt=-Wno-packed-non-pod
build --copt=-Wno-sign-compare
build --copt=-Wno-bitwise-instead-of-logical
build --copt=-Wno-deprecated-copy-with-user-provided-copy
build --copt=-Wno-unused-but-set-parameter
build --copt=-Wno-unused-function
build --copt=-Wno-deprecated-copy
build --copt=-Wno-unknown-warning-option
build --copt=-Wno-nontrivial-memcall
build --incompatible_autoload_externally=+@rules_python,+@rules_shell,+@rules_cc
build --incompatible_default_to_explicit_init_py # Don't overwrite __init__.py files
build --incompatible_strict_action_env

# Inherit PATH for sh_test targets that need cargo/python3.
test --test_env=PATH

build:asan --compilation_mode=dbg
build:asan --copt -fsanitize=address
build:asan --linkopt -fsanitize=address
build:asan --strip=never

build:release --compilation_mode=opt
build:release --copt=-Os
build:release --copt=-flto=thin
build:release --linkopt=-Os
build:release --linkopt=-flto=thin
build:release --strip=always

# linux-sandbox is having some issues when running Vivado on RHEL 8.
# we use the less strict version of processwrapper-sandbox instead
common --spawn_strategy=processwrapper-sandbox,local
