*.jou
*.log
*.out
*.pyc
*.zip
.ci-secrets
.humanize/
.venv*
/.cache/
/.cmake-format
/.coverage
/.vscode
/VARS.local.bzl
/bazel-*
/build/
/compile_commands.json
__pycache__
a.out
artifacts.out/
device_config.json
floorplan_config.json
impl_config.json
node_modules
plans/
run/
work.xo
work.zip
