
{% include "stream_typedef.j2" %}

{% for arg in ctx.args if arg.is_stream %}

  // data ports connected to DUT
  packed_uint{{ arg.port.data_width }}_t axis_{{ arg.name }}_tdata;
  logic axis_{{ arg.name }}_tlast;

  // data ports connected to testbench
  unpacked_uint{{ arg.port.data_width + 1 }}_t axis_{{ arg.name }}_tdata_unpacked;
  unpacked_uint{{ arg.port.data_width + 1 }}_t axis_{{ arg.name }}_tdata_unpacked_next;

  logic axis_{{ arg.name }}_tvalid = 0;
  logic axis_{{ arg.name }}_tready = 0;
  logic axis_{{ arg.name }}_tvalid_next = 0;
  logic axis_{{ arg.name }}_tready_next = 0;
{% endfor %}
