
  parameter HALF_CLOCK_PERIOD = 2;
  parameter CLOCK_PERIOD = HALF_CLOCK_PERIOD * 2;

  // clock
  always begin
      ap_clk = 1'b0;
      #HALF_CLOCK_PERIOD;
      ap_clk = 1'b1;
      #HALF_CLOCK_PERIOD;
  end

  // fifo signals
  always @(posedge ap_clk) begin
    if (kernel_started) begin
{% for arg in ctx.stream_args %}
{% if arg.direction == "istream" %}
    tapa::istream(
        fifo_{{ arg.qualified_name }}_data_unpacked_next,
        fifo_{{ arg.qualified_name }}_valid_next,
        fifo_{{ arg.qualified_name }}_ready,
        "{{ arg.qualified_name }}"
    );

    fifo_{{ arg.qualified_name }}_data_unpacked <=
        fifo_{{ arg.qualified_name }}_data_unpacked_next;
    fifo_{{ arg.qualified_name }}_valid <= fifo_{{ arg.qualified_name }}_valid_next;
{% else %}
    tapa::ostream(
        fifo_{{ arg.qualified_name }}_data_unpacked,
        fifo_{{ arg.qualified_name }}_ready_next,
        fifo_{{ arg.qualified_name }}_valid,
        "{{ arg.qualified_name }}"
    );

    fifo_{{ arg.qualified_name }}_ready <= fifo_{{ arg.qualified_name }}_ready_next;
{% endif %}
{% endfor %}
    end
    if (ap_done) begin
      kernel_done <= 1'b1;
    end
    if (ap_ready) begin
      ap_start <= 1'b0;
    end
  end

{% for arg in ctx.stream_args %}
{% if arg.direction == "istream" %}
    assign fifo_{{ arg.qualified_name }}_data =
        packed_uint{{ arg.data_width + 1 }}_t'(
            fifo_{{ arg.qualified_name }}_data_unpacked);
{% else %}
    assign fifo_{{ arg.qualified_name }}_data_unpacked =
        unpacked_uint{{ arg.data_width + 1 }}_t'(fifo_{{ arg.qualified_name }}_data);
{% endif %}
{% endfor %}

  initial begin
    // reset the DUT
    ap_rst_n = 1'b0;
    #(CLOCK_PERIOD*1000);

    // enable the DUT
    ap_rst_n = 1'b1;
    #(CLOCK_PERIOD*100);

    // start the DUT
    ap_start <= 1'b1;
    @(posedge ap_clk);

    kernel_started <= 1;
    @(posedge ap_clk);

    wait(kernel_done);

{% for name in ctx.mmap_names %}
    axi_ram_{{ name }}_dump_mem <= 1;
{% endfor %}

    #(CLOCK_PERIOD*100);
    $finish;
  end
