    .m_axi_{{ arg_name }}_ARADDR  (axi_{{ arg_name }}_araddr ),
    .m_axi_{{ arg_name }}_ARBURST (axi_{{ arg_name }}_arburst),
    .m_axi_{{ arg_name }}_ARCACHE (axi_{{ arg_name }}_arcache),
    .m_axi_{{ arg_name }}_ARID    (axi_{{ arg_name }}_arid   ),
    .m_axi_{{ arg_name }}_ARLEN   (axi_{{ arg_name }}_arlen  ),
    .m_axi_{{ arg_name }}_ARLOCK  (axi_{{ arg_name }}_arlock ),
    .m_axi_{{ arg_name }}_ARPROT  (axi_{{ arg_name }}_arprot ),
    .m_axi_{{ arg_name }}_ARQOS   (axi_{{ arg_name }}_arqos  ),
    .m_axi_{{ arg_name }}_ARREADY (axi_{{ arg_name }}_arready),
    .m_axi_{{ arg_name }}_ARSIZE  (axi_{{ arg_name }}_arsize ),
    .m_axi_{{ arg_name }}_ARVALID (axi_{{ arg_name }}_arvalid),
    .m_axi_{{ arg_name }}_AWADDR  (axi_{{ arg_name }}_awaddr ),
    .m_axi_{{ arg_name }}_AWBURST (axi_{{ arg_name }}_awburst),
    .m_axi_{{ arg_name }}_AWCACHE (axi_{{ arg_name }}_awcache),
    .m_axi_{{ arg_name }}_AWID    (axi_{{ arg_name }}_awid   ),
    .m_axi_{{ arg_name }}_AWLEN   (axi_{{ arg_name }}_awlen  ),
    .m_axi_{{ arg_name }}_AWLOCK  (axi_{{ arg_name }}_awlock ),
    .m_axi_{{ arg_name }}_AWPROT  (axi_{{ arg_name }}_awprot ),
    .m_axi_{{ arg_name }}_AWQOS   (axi_{{ arg_name }}_awqos  ),
    .m_axi_{{ arg_name }}_AWREADY (axi_{{ arg_name }}_awready),
    .m_axi_{{ arg_name }}_AWSIZE  (axi_{{ arg_name }}_awsize ),
    .m_axi_{{ arg_name }}_AWVALID (axi_{{ arg_name }}_awvalid),
    .m_axi_{{ arg_name }}_BID     (axi_{{ arg_name }}_bid    ),
    .m_axi_{{ arg_name }}_BREADY  (axi_{{ arg_name }}_bready ),
    .m_axi_{{ arg_name }}_BRESP   (axi_{{ arg_name }}_bresp  ),
    .m_axi_{{ arg_name }}_BVALID  (axi_{{ arg_name }}_bvalid ),
    .m_axi_{{ arg_name }}_RDATA   (axi_{{ arg_name }}_rdata  ),
    .m_axi_{{ arg_name }}_RID     (axi_{{ arg_name }}_rid    ),
    .m_axi_{{ arg_name }}_RLAST   (axi_{{ arg_name }}_rlast  ),
    .m_axi_{{ arg_name }}_RREADY  (axi_{{ arg_name }}_rready ),
    .m_axi_{{ arg_name }}_RRESP   (axi_{{ arg_name }}_rresp  ),
    .m_axi_{{ arg_name }}_RVALID  (axi_{{ arg_name }}_rvalid ),
    .m_axi_{{ arg_name }}_WDATA   (axi_{{ arg_name }}_wdata  ),
    .m_axi_{{ arg_name }}_WLAST   (axi_{{ arg_name }}_wlast  ),
    .m_axi_{{ arg_name }}_WREADY  (axi_{{ arg_name }}_wready ),
    .m_axi_{{ arg_name }}_WSTRB   (axi_{{ arg_name }}_wstrb  ),
    .m_axi_{{ arg_name }}_WVALID  (axi_{{ arg_name }}_wvalid ),
