#pragma HLS disaggregate variable = {{ name }}
#pragma HLS interface ap_fifo port = {{ name }}._
#pragma HLS aggregate variable = {{ name }}._ bit
void({{ name }}._.empty());
{ auto val = {{ name }}.read(); }
